@model EditEmployeeViewModel

@{
    ViewData["Title"] = "Details";
}
<main id="main" class="main">
    <div class="pagetitle">
      <h1>Profile</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Users</li>
          <li class="breadcrumb-item active">Profile</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <section class="section profile">
        <div class="col-xl-12">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button>
                </li>
              </ul>

              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                  <h5 class="card-title">Profile Details</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Full Name</div>
                    <div class="col-lg-9 col-md-8">@Html.DisplayFor(model => model.FullName)</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Department</div>
                    <div class="col-lg-9 col-md-8">@Html.DisplayFor(model => model.Department.DeptName)</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Position</div>
                    <div class="col-lg-9 col-md-8">@Html.DisplayFor(model => model.Position.Name)</div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">SSS number</div>
                    <div class="col-lg-9 col-md-8">@Model.SSSNumber</div>
                    <a class="btn btn-primary" role="button" asp-controller="SSSPayment" asp-action="Create" asp-route-employeeName="@Model.FullName" asp-route-sss="@Model.SSSNumber"><i class="fa fa-plus"></i> Add Payment</a>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Philhealth</div>
                    <div class="col-lg-9 col-md-8">@Model.PhilHealthId</div>
                   <a class="btn btn-primary" role="button" asp-controller="PhilhealthPayment" asp-action="Create" asp-route-employeeName="@Model.FullName" asp-route-philhealth="@Model.PhilHealthId"><i class="fa fa-plus"></i> Add Payment</a>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">PagIbig</div>
                    <div class="col-lg-9 col-md-8">@Model.PagIbigId</div>
                    <a class="btn btn-primary" role="button" asp-controller="PagIbigPayment" asp-action="Create" asp-route-employeeName="@Model.FullName" asp-route-pagibig="@Model.PagIbigId"><i class="fa fa-plus"></i> Add Payment</a>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Date Of Birth</div>
                    <div class="col-lg-9 col-md-8">@Model.DateOfBirth</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Address</div>
                    <div class="col-lg-9 col-md-8">@Model.Street @Model.Barangay @Model.City</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Email Address</div>
                    <div class="col-lg-9 col-md-8">@Model.Email</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Phone Number</div>
                    <div class="col-lg-9 col-md-8">@Model.Phone</div>
                  </div>

                </div>

                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                  <!-- Profile Edit Form -->
                  <form asp-controller="Employee" asp-action="Update" method="post">

                    <div class="row mb-3">
                        <input asp-for="Id" class="form-control" hidden/>
                    </div>
                    <div class="row mb-3">
                        <label asp-for="FirstName" class="col-md-4 col-lg-3 col-form-label"></label>
                         <div class="col-md-8 col-lg-9">
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label asp-for="MiddleName" class="col-md-4 col-lg-3 col-form-label"></label>
                        <input asp-for="MiddleName" class="form-control" />
                        <span asp-validation-for="MiddleName" class="text-danger"></span>
                    </div>
                    <div class="row mb-3">
                        <label asp-for="LastName" class="col-md-4 col-lg-3 col-form-label"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="row mb-3">
                        <label asp-for="Gender" class="col-md-4 col-lg-3 col-form-label"></label>
                        <select name="Gender" class="form-control">
                            <option value="Male" disabled>Gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Others">Others</option>
                        </select>
                    </div>
                    <div class="row mb-3">
                        <label asp-for="DateOfBirth" class="col-md-4 col-lg-3 col-form-label"></label>
                        <input asp-for="DateOfBirth" class="form-control" />
                        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                    </div>
                    <div class="row mb-3">
                        <label asp-for="Phone" class="col-md-4 col-lg-3 col-form-label"></label>
                        <input asp-for="Phone" class="form-control" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                    <div class="row mb-3">
                        <label asp-for="DepartmentId" class="col-md-4 col-lg-3 col-form-label"></label>
                        <select asp-for="DepartmentId" class="form-control" asp-items="ViewBag.DepartmentId"></select>
                        <span asp-validation-for="DepartmentId" class="text-danger"></span>
                    </div>
                    <div class="row mb-3">
                        <label asp-for="PositionId" class="col-md-4 col-lg-3 col-form-label"></label>
                        <select asp-for="PositionId" class="form-control" asp-items="ViewBag.PositionId"></select>
                        <span asp-validation-for="PositionId" class="text-danger"></span>
                    </div>
                    <div class="row mb-3">
                        <label asp-for="EmployeeType" class="col-md-4 col-lg-3 col-form-label"></label>
                        <select name="EmployeeType" class="form-control">
                            <option value="" disabled>Employment Type</option>
                            <option value="Regular">Regular</option>
                            <option value="Partime">Partime</option>
                            <option value="Job Order">Job Order</option>
                            <option value="Contract Of Service">Contract Of Service</option>
                        </select>
                    </div>
                    <div class="row mb-3">
                        <label asp-for="Street" class="col-md-4 col-lg-3 col-form-label"></label>
                        <input asp-for="Street" class="form-control" />
                        <span asp-validation-for="Street" class="text-danger"></span>
                    </div>
                    <div class="row mb-3">
                        <label asp-for="Barangay" class="col-md-4 col-lg-3 col-form-label"></label>
                        <input asp-for="Barangay" class="form-control" />
                        <span asp-validation-for="Barangay" class="text-danger"></span>
                    </div>
                    <div class="row mb-3">
                        <label asp-for="City" class="col-md-4 col-lg-3 col-form-label"></label>
                        <input asp-for="City" class="form-control" />
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                    <div class="row mb-3">
                        <label asp-for="State" class="col-md-4 col-lg-3 col-form-label"></label>
                        <input asp-for="State" class="form-control" />
                        <span asp-validation-for="State" class="text-danger"></span>
                    </div>
                    <div class="row mb-3">
                        <label asp-for="PostalCode" class="col-md-4 col-lg-3 col-form-label"></label>
                        <input asp-for="PostalCode" class="form-control" />
                        <span asp-validation-for="PostalCode" class="text-danger"></span>
                    </div>

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                  </form><!-- End Profile Edit Form -->

                </div>

                <div class="tab-pane fade pt-3" id="profile-settings">

                  <!-- Settings Form -->
                  <form>

                    <div class="row mb-3">
                      <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Email Notifications</label>
                      <div class="col-md-8 col-lg-9">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="changesMade" checked>
                          <label class="form-check-label" for="changesMade">
                            Changes made to your account
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="newProducts" checked>
                          <label class="form-check-label" for="newProducts">
                            Information on new products and services
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="proOffers">
                          <label class="form-check-label" for="proOffers">
                            Marketing and promo offers
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="securityNotify" checked disabled>
                          <label class="form-check-label" for="securityNotify">
                            Security alerts
                          </label>
                        </div>
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                  </form><!-- End settings Form -->

                </div>

                <div class="tab-pane fade pt-3" id="profile-change-password">
                  <!-- Change Password Form -->
                  <form>

                    <div class="row mb-3">
                      <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="password" type="password" class="form-control" id="currentPassword">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="newpassword" type="password" class="form-control" id="newPassword">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="renewpassword" type="password" class="form-control" id="renewPassword">
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Change Password</button>
                    </div>
                  </form><!-- End Change Password Form -->

                </div>

              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>
      
</main>
 @* <h1>Details</h1>

        <div>
            <h4>Employee</h4>
            <hr />
            <div class="row">

            </div>
            <dl class="row">
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.FirstName)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.MiddleName)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.MiddleName)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.LastName)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Gender)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Gender)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.DateOfBirth)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.DateOfBirth)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Phone)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Phone)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.UserName)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.UserName)
                </dd>

                <dt class = "col-sm-2">
                    SSS
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.SSSNumber)
                </dd>
                <dt class = "col-sm-2">
                    PagIbig
                </dt>
                <dd class = "col-sm-10">
                   @Html.DisplayFor(model => model.PagIbigId)
                </dd>
                <dt class = "col-sm-2">
                    PhilHealth
                </dt>
                <dd class = "col-sm-10">
                   @Html.DisplayFor(model => model.PagIbigId)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Department)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Department.DeptName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Position)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Position.Name)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.EmployeeType)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.EmployeeType)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Street)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Street)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Barangay)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Barangay)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.City)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.City)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.State)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.State)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.PostalCode)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.PostalCode)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.ActiveStatus)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.ActiveStatus)
                </dd>
            </dl>
        </div>

        <div>
            <a asp-action="Update" asp-route-accountId="@Model?.Id">Edit</a> |
            <a asp-action="List">Back to List</a>
        </div>
    </section>*@

                @*
                    
                *@